@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e3e3e3;
}

th {
  cursor: pointer;
}

input {
  width: 500px;
  border: none;
  margin-left: 11px;
  outline: none;
}

::placeholder {
  color: #D1D1D1;
  font-family: Roboto, serif;
  font-size: 14px;
}

.btn {
  width: 95px;
  height: 30px;
  border-radius: 10px;
  border: none;
  color: #FFF;
  font-family: Montserrat, serif;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
  margin-left: 30px;
}

.container {
  width: 1054px;
  height: 790px;
  background: #FAFAFA;
  padding: 41px 52px 49px 48px;
}

.res {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dash-header {
  color: #222;
  font-family: Montserrat, serif;
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 40px;
}

.dash-container {
  display: flex;
  width: 954px;
  height: 45px;
  justify-content: space-between;
  align-items: center;
  padding: 0 17px 0 13px;
  border-radius: 15px;
  border: 1px solid #EBEBEB;
  background: #FFF;
  margin-bottom: 30px;
}

.result-qty {
  color: #D1D1D1;
  font-family: Roboto, serif;
  font-size: 14px;
}

.table-type {
  color: #5C5C5C;
  font-family: Roboto, serif;
  font-size: 12px;
  font-weight: 400;
  width: 100px;
}

.status {
  font-family: Roboto, serif;
  font-size: 12px;
  font-weight: 500;
}

.ONLINE {
  color: #1BDA9D;
}

.PAUSED {
  color: #FF8346;
}

.DRAFT {
  color: #5C5C5C;
}

.STOPPED {
  color: #FE4848;
}

.results {
  background: #2EE5AC;
  transition: background-color 0.2s;
}

.results:hover {
  background: #27b489;
}

.finalize {
  background: #7D7D7D;
  transition: background-color 0.2s;
}

.finalize:hover {
  background: #5d5d5d;
}

.page-header {
  width: 330px;
  height: 40px;
  color: #222;
  font-family: Montserrat, serif;
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 4px;
}

.name-wrap {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.page-name {
  color: #222;
  font-family: Montserrat, serif;
  font-size: 14px;
  font-weight: 600;
}

.back-wrap {
  display: flex;
  cursor: pointer;
}

.back {
  color: #222;
  font-family: Nunito, serif;
  font-size: 18px;
  font-weight: 700;
  border: none;
  margin-left: 19px;
  cursor: pointer;
  background: transparent;
}

.not-match-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.not-match-page {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 149px 0 37px;
  color: #222;
  font-family: Montserrat, serif;
  font-weight: 500;
  font-size: 18px;
}

.table {
  width: 100%;
}

.table-header {
  height: 15px;
  color: #999;
  font-family: Roboto, serif;
  font-size: 11px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: left;
  padding-bottom: 10px;
}

.up {
  margin:0 0 2px 8px;
  transition: all 0.2s ease-out;
  transform: rotate(180deg);
}

.down {
  transform: rotate(0deg);
}

.table-name {
  width: 300px;
  color: #474747;
  font-family: Roboto, serif;
  font-size: 13px;
  font-weight: 500;
  margin-left: 11px;
}

.table-row {
  height: 70px;
}

.table-row:hover {
  border-radius: 3px;
  background: #fafafa;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
}